.shop_container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* position: relative; */
}
.product_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px 60px;
}
.cart_container{
    /* position: sticky; */
    /* top: 0px; */
    background: skyblue;
}